.hero.js-active
	.side-text
	.hero__arrow 		
	.hero__container.container 
		.hero__header 
			span специальный проект
			br
			img(src="images/hero/logo.png", alt="alt")
		.hero__row 
			.hero__left 
				img(src="images/hero/girl-left.png", alt="alt")
			.hero__middle
				.hero__middle-container 
					.hero__button 
						img(src="images/hero/button.svg", alt="alt")
					.hero__lines.hero__lines--top 
						img(src="images/hero/lines1.png", alt="alt")
					.hero__lines.hero__lines--bottom 
						img(src="images/hero/lines2.png", alt="alt")
					.hero__title 
						|Идти
						br 
						span или
						br 
						|не идти?
					.hero__text Весна - время перемен. Самое время стряхнуть пыль с абонемента в спортзал, достать с дальней полки беговые кроссовки, а коврик для йоги с антресолей и начать заниматься спортом каждый… то есть хотя бы дважды… ну или хотя бы раз…
					.hero__subtitle Хотите узнать уровень собственной мотивированности? Тогда пройдите
					.hero__title.hero__title--align-right тест
			.hero__right 
				img(src="images/hero/girl-right.png", alt="alt")