.results
	.result.result-1 
		.result__container.container 
			.result__title Результат теста	
			.result__content 
				.result__left 
					img(src="images/results/1.png", alt="alt")
				.result__center 
					.result__card 
						.result__amount От 0 до 6
						.result__subtitle Мотивация? Нет, не слышала!
						.result__text 
							p Похоже, настрой на занятия спортом у вас минимальный, и любая причина способна ослабить вашу решимость. Так дело не пойдет. Берите бразды правления в собственные руки и не позволяйте душе лениться. Тем более, что большинство причин, насколько бы серьезными они ни казались, на самом деле не более чем отговорки.
							p Не стоит опасаться ни косых взглядов в зале (все когда-то были новичками!), ни того, что некоторые упражнения получатся не сразу, ни боли в мышцах и суставах после тренировки. Ваше тело скажет вам спасибо. А с возможными неприятными ощущениями поможет справиться гель Диклофенак-АКОС в упаковке с человечком. Благодаря максимальной* концентрации действующего вещества 5% он способствует более выраженному уменьшению боли в мышцах, спине и суставах вследствие травм** и перенапряжения<sup>1</sup>. Гель быстро впитывается и приятно пахнет лавандой<sup>1</sup>.
				.result__right 
					.result__img-man 
			.result__bottom 
				.result__bottom-left 
					p *По данным AlphaRM cреди местных форм с мнн диклофенак, 2022
					p ** гель следует наносить только на неповрежденную кожу, избегая попадания на открытые раны
					p *** Средняя розничная цена Диклофенак-АКОС гель 30 г по данным AlphaRM, 2022 г
					ol 
						li Инструкция по медицинскому применению лекарственного препарата Диклофенак-АКОС, РУ ЛСР-000077 от 02.03.2020 г.
						li Наружные НПВП: формула популярности // Российские аптеки. Локальные формы диклофенака в лечении острой и хронической боли при заболеваниях суставов. — 2020 — №9(337). — С. 50-51
					p Реклама.
					.result__social
						.result__social-title Поделиться результатом с друзьями
						.result__icons 
							.result__icon 
								img(src="images/results/icon1.svg", alt="alt")
							.result__icon 
								img(src="images/results/icon2.svg", alt="alt")
							.result__icon 
								img(src="images/results/icon3.svg", alt="alt")
				.result__bottom-center 
				.result__bottom-right 
					.result__right-item Максимальная* концентрация активного вещества - 5%<sup>1</sup>
					.result__right-item Доступная цена от 140,99 руб<sup>***</sup>
					.result__right-item Глубоко проникает в ткани к очагу боли<sup>1,2</sup>
					a(href="").result__right-item.result__know-more-btn Узнать больше о Диклофенак-АКОС
		.side-text
	.result.result-2 
		.result__container.container 
			.result__title Результат теста	
			.result__content 
				.result__left 
					img(src="images/results/2.png", alt="alt")
				.result__center 
					.result__card 
						.result__amount От 7 до 12
						.result__subtitle О, спорт, ты… или не ты?
						.result__text 
							p Вас можно смело отнести к группе неуверенных. Вроде и хочется пойти на тренировку, но всегда (или почти всегда) что-то отвлекает. А если переборола себя и дошла, то запала хватает ненадолго… Вам надо работать над собой, тем более, что первый шаг вы уже сделали. Точнее делаете его уже не первый раз, а вот на второй шаг не хватает то уверенности в себе, то желания, то времени. Помните, все зависит от вас, и те причины, которые сегодня кажутся уважительными, завтра покажутся смешными отговорками, которыми вы сами себе мешали стать здоровее, сильнее, активнее и подтянутее.
							p Возьмите за привычку вознаграждать себя за каждую тренировку какой-нибудь приятной мелочью: купите себе цветы, побалуйте любимым десертом, примите горячую ванну. А если чувствуете боль в мышцах и суставах в результате травмы или боли в мышцах от перенапряжения, помните, что на помощь готов прийти гель Диклофенак-АКОС в упаковке с человечком - противовоспалительное и обезболивающее средство с максимальной* концентрацией действующего вещества 5%<sup>1</sup> .
				.result__right 
					.result__img-man 
			.result__bottom 
				.result__bottom-left 
					p *По данным AlphaRM cреди местных форм с мнн диклофенак, 2022
					p ** гель следует наносить только на неповрежденную кожу, избегая попадания на открытые раны
					p *** Средняя розничная цена Диклофенак-АКОС гель 30 г по данным AlphaRM, 2022 г
					ol 
						li Инструкция по медицинскому применению лекарственного препарата Диклофенак-АКОС, РУ ЛСР-000077 от 02.03.2020 г.
						li Наружные НПВП: формула популярности // Российские аптеки. Локальные формы диклофенака в лечении острой и хронической боли при заболеваниях суставов. — 2020 — №9(337). — С. 50-51
					p Реклама.
					.result__social
						.result__social-title Поделиться результатом с друзьями
						.result__icons 
							.result__icon 
								img(src="images/results/icon1.svg", alt="alt")
							.result__icon 
								img(src="images/results/icon2.svg", alt="alt")
							.result__icon 
								img(src="images/results/icon3.svg", alt="alt")
				.result__bottom-center 
				.result__bottom-right 
					.result__right-item Максимальная* концентрация активного вещества - 5%<sup>1</sup>
					.result__right-item Доступная цена от 140,99 руб<sup>***</sup>
					.result__right-item Глубоко проникает в ткани к очагу боли<sup>1,2</sup>
					a(href="").result__right-item.result__know-more-btn Узнать больше о Диклофенак-АКОС
		.side-text
	.result.result-3 
		.result__container.container 
			.result__title Результат теста	
			.result__content 
				.result__left 
					img(src="images/results/3.png", alt="alt")
				.result__center 
					.result__card 
						.result__amount От 13 до 18
						.result__subtitle Быстрее! Выше! Сильнее!
						.result__text 
							p Вашей мотивации можно только позавидовать. Похоже, вы не из “прогульщиц”. А если иногда и позволяете себе схалявить и пропустить тренировку, то потом обязательно исправитесь и наверстаете. Так держать. Как подтверждают многочисленные исследования, в любой спортивной активности регулярность является одним из ключевых показателей.
							p Так что то, что вы способны преодолеть не только внешние, но и внутренние препятствия, достойно восхищения. Главное, научиться справляться не только с прокрастинацией и ленью, а также с результатами перенапряжения – неприятными ощущениями в мышцах и суставах после тренировок. С ними может помочь справиться гель Диклофенак-АКОС в упаковке с человечком, противовоспалительное и обезболивающее средство с максимальной* концентрацией действующего вещества 5% <sup>1</sup>.
				.result__right 
					.result__img-man 
			.result__bottom 
				.result__bottom-left 
					p *По данным AlphaRM cреди местных форм с мнн диклофенак, 2022
					p ** гель следует наносить только на неповрежденную кожу, избегая попадания на открытые раны
					p *** Средняя розничная цена Диклофенак-АКОС гель 30 г по данным AlphaRM, 2022 г
					ol 
						li Инструкция по медицинскому применению лекарственного препарата Диклофенак-АКОС, РУ ЛСР-000077 от 02.03.2020 г.
						li Наружные НПВП: формула популярности // Российские аптеки. Локальные формы диклофенака в лечении острой и хронической боли при заболеваниях суставов. — 2020 — №9(337). — С. 50-51
					p Реклама.
					.result__social
						.result__social-title Поделиться результатом с друзьями
						.result__icons 
							a(href='').result__icon 
								img(src="images/results/icon1.svg", alt="alt")
							a(href='').result__icon 
								img(src="images/results/icon2.svg", alt="alt")
							a(href='').result__icon 
								img(src="images/results/icon3.svg", alt="alt")
				.result__bottom-center 
				.result__bottom-right 
					.result__right-item Максимальная* концентрация активного вещества - 5%<sup>1</sup>
					.result__right-item Доступная цена от 140,99 руб<sup>***</sup>
					.result__right-item Глубоко проникает в ткани к очагу боли<sup> 1,2</sup>
					a(href="").result__right-item.result__know-more-btn Узнать больше о Диклофенак-АКОС
		.side-text
					
