.swiper.swiper-outer
	.swiper-arrows 
		.swiper-arrow.swiper-arrow-left 
			<svg width="131" height="57" viewBox="0 0 131 57" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M46.0433 46.1418H2V2M129 55C124.061 42.7486 115.792 32.1315 105.132 24.3552C94.4728 16.579 81.8525 11.9539 68.7023 11.0092C55.5516 10.0644 42.3973 12.8356 30.7402 19.0084C19.0831 25.1813 9.38899 34.5104 2.7571 45.9305" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		.swiper-arrow.swiper-arrow-right 
			<svg width="131" height="57" viewBox="0 0 131 57" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M84.9567 46.1418H129V2M2 55C6.93877 42.7486 15.2083 32.1315 25.8678 24.3552C36.5272 16.579 49.1475 11.9539 62.2977 11.0092C75.4484 10.0644 88.6027 12.8356 100.26 19.0084C111.917 25.1813 121.611 34.5104 128.243 45.9305" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
	.swiper-wrapper
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-1
				.card-button.card-button-true.card1-button-true
				.card-button.card-button-false.card1-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card1.png", alt="alt")
							.card__text 
								span Эти дни
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-2
				.card-button.card-button-true.card2-button-true
				.card-button.card-button-false.card2-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card6.png", alt="alt")
							.card__text 
								span Ретроградный Меркурий
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-3
				.card-button.card-button-true.card3-button-true
				.card-button.card-button-false.card3-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card11.png", alt="alt")
							.card__text 
								span Не купила новую форму, а старая надоела
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-4
				.card-button.card-button-true.card4-button-true
				.card-button.card-button-false.card4-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card15.png", alt="alt")
							.card__text 
								span Прошлым летом каталась на роликах и потянула ногу. Сейчас начну заниматься, а нога снова разболится…
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-5
				.card-button.card-button-true.card5-button-true
				.card-button.card-button-false.card5-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card2.png", alt="alt")
							.card__text 
								span У меня с утра предчувствие, что лучше не ходить, а я верю в интуицию
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-6
				.card-button.card-button-true.card6-button-true
				.card-button.card-button-false.card6-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card7.png", alt="alt")
							.card__text 
								span Вдруг в зале опять будет эта противная девица в такой же форме, как у меня
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-7
				.card-button.card-button-true.card7-button-true
				.card-button.card-button-false.card7-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card12.png", alt="alt")
							.card__text 
								span Вчера танцевала до утра, теперь ноги болят. (И голова после шампанского)
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-8
				.card-button.card-button-true.card8-button-true
				.card-button.card-button-false.card8-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card16.png", alt="alt")
							.card__text 
								span Я выйду на одну остановку раньше и дойду до работы пешком, сожгу столько же калорий
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-9
				.card-button.card-button-true.card9-button-true
				.card-button.card-button-false.card9-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card3.png", alt="alt")
							.card__text 
								span Пообещала себе начать новую жизнь с понедельника, а он только послезавтра
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-10
				.card-button.card-button-true.card10-button-true
				.card-button.card-button-false.card10-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card8.png", alt="alt")
							.card__text 
								span Сегодня сложный день на работе
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-11
				.card-button.card-button-true.card11-button-true
				.card-button.card-button-false.card11-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card13.png", alt="alt")
							.card__text 
								span После прошлой тренировки болит все тело
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-12
				.card-button.card-button-true.card12-button-true
				.card-button.card-button-false.card12-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card17.png", alt="alt")
							.card__text 
								span Подружка, с которой я хожу вместе в зал, сегодня не может
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-13
				.card-button.card-button-true.card13-button-true
				.card-button.card-button-false.card13-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card4.png", alt="alt")
							.card__text 
								span Новые кроссовки натирают!
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-14
				.card-button.card-button-true.card14-button-true
				.card-button.card-button-false.card14-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card9.png", alt="alt")
							.card__text 
								span Раз нет возможности тренироваться три разав неделю по два часа, то и начинать не стоит!
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-15
				.card-button.card-button-true.card15-button-true
				.card-button.card-button-false.card15-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card14.png", alt="alt")
							.card__text 
								span Парковка возле спортзала всегда забита, не хочется оставлять машину далеко и 100 м идти пешком
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-16
				.card-button.card-button-true.card16-button-true
				.card-button.card-button-false.card16-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card18.png", alt="alt")
							.card__text 
								span На улице дождь!
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-17
				.card-button.card-button-true.card17-button-true
				.card-button.card-button-false.card17-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card5.png", alt="alt")
							.card__text 
								span Лосины меня полнят
					.swiper-slide.swiper-slide-inner.swiper-slide-false
		.swiper-slide.swiper-slide-outer
			.swiper.swiper-inner.swiper-inner-18
				.card-button.card-button-true.card18-button-true
				.card-button.card-button-false.card18-button-false
				.swiper-wrapper
					.swiper-slide.swiper-slide-inner.swiper-slide-true
					.swiper-slide.swiper-slide-inner
						.card
							img(src="images/cards/card10.png", alt="alt")
							.card__text 
								span На выходных покаталась на велосипеде и уже третий день не могу разогнуть ноги. Какая уж тут тренировка!
					.swiper-slide.swiper-slide-inner.swiper-slide-false